footer {
    width: 100%;
    color: aliceblue;
    background-color: #0d1b2a;
}

#footer_content {
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

.footer-list h3 {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.footer-list {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    list-style: none;
}

.footer-list .footer-link {
    color: aliceblue;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #2b6a6d;
}

#footer_about h3 {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

#footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    padding-bottom: 20px;
}

@media screen and (max-width: 775px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem 3rem;
  }

  #footer_about h3,
  #footer_contacts h1,
  .footer-list h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 443px) {
    #footer_copyright {
        font-size: 0.8em;
    }
 }

@media screen and (max-width: 280px) {
    #footer_content {
        font-size: 0.8em;
        padding: 2rem 1rem;
    }
 }