#home_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#home_title {
    text-align: center;
    font-size: 3em;
    color: #2b6a6d;
    margin: 40px 0;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
}

#home_fusion {
    background-color: #2b6a6df1;
    border-radius: 20px;
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    width: 40%;
    height: 400px;
    margin: auto;
    z-index: 1;
}

#home p {
    width: 50%;
    padding: 60px;
    font-weight: 500;
    text-align: justify;
    font-size: 1em;
}

@media screen and (max-width: 1170px) {
    #home_flex {
        flex-direction: column;
        justify-content: center;
    }

    #home p {
        padding: 20px;
        width: 100%;
    }

    #home_fusion {
        margin: 0;
    }
}

@media screen and (max-width: 380px) {
  #home_title {
    font-size: 2em;
    margin: 10px;
  }
}