@import url(navbar.css);
@import url(cta.css);
@import url(home.css);
@import url(obj.css);
@import url(download.css);
@import url(footer.css);
@import url(quem.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    overflow-x: hidden
}

.btn_default {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }

}
